<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Test Suite" parallel="tests" data-provider-thread-count="2">
    <test name="Orange HRM Test" parallel="methods">
        <classes>
            <class name="com.hrm.test.LoginTest"/>
        </classes>
    </test>
</suite>